/* https://getbootstrap.com/docs/5.3/components/buttons/#variables */
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #700a0a;
    --bs-btn-border-color: #0dfded;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #700a0a;
    --bs-btn-hover-border-color: #700a0a;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #700a0a;
    --bs-btn-active-bg: #700a0a;
    --bs-btn-active-border-color: #700a0a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #700a0a;
    --bs-btn-disabled-border-color: #700a0a;
  }